body {
    background-color: red; 
    color: black;
    font-family: Arial, sans-serif; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

h1 {
    font-size: 2em; 
    text-align: center;
    margin: 0; 
}

p {
    font-size: 1.2em; 
    text-align: center; 
    margin-top: 10px; 
    display: flex;
    align-items: center; 
}

.counter {
    font-size: 1.5em; 
    margin-top: 20px;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.copy-message {
    font-size: 1.2em;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

#copyButton {
    margin-left: 10px; 
}

.small-text {
    font-size: 0.7em; 
    text-align: center; 
    color: black;
    margin-top: 10px; 
}
